<footer>
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                {{ partial "social.html" . }}
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                <a class="legal-notice" href="/legal-notice">legal notice</a>
            </div>
        </div>
    </div>
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect top" href="#top">
        <i class="material-icons">keyboard_arrow_up</i>
    </a>
</footer>
</main>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script src="{{.Site.BaseURL}}js/material.min.js"></script>
<script src="{{.Site.BaseURL}}js/mobile-detect.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();

    // Particles
    var md = new MobileDetect(window.navigator.userAgent);
    var particlesElem = document.querySelector("#particles")
    if (md.mobile() == null && particlesElem != null) {
        var element = document.createElement('script');
        element.src = "{{.Site.BaseURL}}js/particles.js";
        document.body.appendChild(element);

        particlesElem.style.display = 'block'
    }

    // Header Transparency
    var header = document.querySelector(".mdl-layout__header");
    var content = document.querySelector("main.mdl-layout__content");
    content.onscroll = function (event) {
        setHeaderTransparent(content.scrollTop < 50);
    };

    var setHeaderTransparent = function (isTransparent) {
        if (isTransparent) {
            header.classList.add('mdl-layout__header--transparent');
        } else {
            header.classList.remove('mdl-layout__header--transparent');
        }
    };

    setHeaderTransparent(true);
</script>
<script>
(function(d, w, u, o){
    w[o]=w[o]||function(){
        (w[o].q=w[o].q||[]).push(arguments)
    };
    a=d.createElement('script'),
    m=d.getElementsByTagName('script')[0];
    a.async=1; a.src=u;
    m.parentNode.insertBefore(a,m)
})(document, window, '//ana.matthiasloibl.com/tracker.js', 'ana');
ana('setTrackerUrl', '//ana.matthiasloibl.com/collect');
ana('trackPageview');
</script>
</body>
</html>
