<nav class="pagination mdl-grid" role="navigation">
    <div class="mdl-cell">
        {{if .HasNext}}
        <a class="mdl-button mdl-js-button" href="{{ .Next.URL }}">
            <i class="material-icons">navigate_before</i>
            Older Posts
        </a>
        {{end}}
    </div>
    <div class="mdl-cell" style="text-align: center">
        <div style="margin-top: 8px;">Page {{ .PageNumber }} of {{.TotalPages}}</div>
    </div>
    <div class="mdl-cell">
        {{if .HasPrev}}
        <a class="mdl-button mdl-js-button" href="{{ .Prev.URL }}">
            Newer Posts
            <i class="material-icons">navigate_next</i>
        </a>
        {{end}}
    </div>
</nav>
