<div class="social">
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" target="_blank"
       href="//github.com/MetalMatze">
        <i class="fa fa-github"></i>
    </a>
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" target="_blank"
       href="//twitter.com/MetalMatze">
        <i class="fa fa-twitter"></i>
    </a>
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" target="_blank"
       href="//stackoverflow.com/users/597430/matthias-loibl">
        <i class="fa fa-stack-overflow"></i>
    </a>
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" target="_blank"
       href="//plus.google.com/101224157281664535532/posts">
        <i class="fa fa-google-plus"></i>
    </a>
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" target="_blank"
       href="//dribbble.com/MetalMatze">
        <i class="fa fa-dribbble"></i>
    </a>
</div>
