{{ partial "header.html" . }}

<div class="layout-list">
    <section class="hero">
        <div class="content">
            <h1>{{ .Title }}</h1>
        </div>
    </section>

    <div class="mdl-grid content">
        <div class="mdl-cell mdl-cell--8-col">
            {{ range first 10 .Data.Pages }}
            <div class="mdl-cell mdl-cell--12-col">
                {{ partial "post-card.html" . }}
            </div>
            {{ end }}
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            {{ partial "post-sidebar-recent.html" . }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
