{{ partial "header.html" . }}

<div class="layout-single">
    {{ if isset .Params "cover" }}
    <section class="hero" style="background-image: url('{{.Site.BaseURL}}{{index .Params "cover"}}')">
    {{ else }}
    <section class="hero mdl-grid">
    {{ end }}
        <div class="container">
            <h1>{{ .Title }}</h1>

            <p>{{ dateFormat "January 2, 2006" .Date }}</p>
        </div>
    </section>

    <div class="mdl-grid container">
        <div class="mdl-cell mdl-cell--12-col">
            {{ .Content }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
