{{ partial "header.html" . }}

<div class="layout-single">
    {{ if isset .Params "cover" }}
    <section class="hero" style="background-image: url('{{.Site.BaseURL}}{{index .Params "cover"}}')">
    {{ else }}
    <section class="hero mdl-grid">
    {{ end }}
        <div class="container">
            <h2>{{ .Title }}</h2>
            <p>{{ dateFormat "January 2, 2006" .Date }}</p>
        </div>
    </section>

    <div class="mdl-grid container">
        <div class="mdl-cell mdl-cell--12-col">
            {{ .Content }}

            <div class="disqus-thread" id="disqus_thread"></div>
            <script>
                (function () {
                    var d = document, s = d.createElement('script');
                    s.src = '//metalmatze.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
