footer {
  background-color: white;
  position: relative;
  text-align: center;

  @media(min-width: $grid-desktop-breakpoint) {
    text-align: left;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .legal-notice {
    display: block;
    margin-top: 10px;
    @media(min-width: $grid-desktop-breakpoint) {
      float: right;
    }
  }

  .mdl-button.top {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
  }
}
