$color-body-background: $palette-grey-50;
$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-green-500;

$text-link-color: unquote("rgb(#{$color-primary})");
$text-link-color-hover: unquote("rgb(#{$color-accent})");
