{{ partial "header.html" . }}

<div class="homepage">
    <section id="home" class="home hero">
        <div class="particles" id="particles"></div>
        <div class="container">
            <h2 class="home-title">Hi! I'm <span>Matthias Loibl</span></h2>
            <h4 class="home-subtitle">Software Craftsman from Berlin, Germany</h4>
            <!--<a class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent button-hireme"-->
            <!--href="#contact">-->
            <!--<i class="material-icons">send</i>Hire me-->
            <!--</a>-->
            <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect button-more" href="#about">
                <i class="material-icons">expand_more</i>
            </a>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container mdl-grid">
            <img src="http://0.gravatar.com/avatar/915d80f0d9b6678fad4d1ab36dfc8960?s=450&d=mm" class="avatar"/>

            <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--4-col-tablet mdl-cell--4-desktop">
                <div class="about-story">
                    <h3>My Story</h3>

                    <p>Hey there!</p>

                    <p>
                        I am a freelance software craftsman from Berlin, Germany.<br>
                        Lately my focus is creating projects with
                        <a target="_blank" href="http://developer.android.com/index.html">Android</a>,
                        <a target="_blank" href="http://facebook.github.io/react/">React</a> and
                        <a target="_blank" href="https://golang.org/">Go</a>.
                        Previously I have created projects with tools like
                        <a target="_blank" href="http://laravel.com/">Laravel</a>,
                        <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a>,
                        <a target="_blank" href="https://www.djangoproject.com/">Django</a>,
                        <a target="_blank" href="https://angularjs.org/">AngularJS</a> &
                        <a target="_blank" href="https://www.polymer-project.org/">Polymer</a>.<br>
                        Working with SCRUM, git and UML is also a no-brainer.<br>
                        Plus I'm studying computer science at
                        <a href="https://www.wikiwand.com/en/Technical_University_of_Berlin">Technical University of
                            Berlin.</a>
                    </p>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-desktop mdl-layout--large-screen-only"></div>
            <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--4-col-tablet mdl-cell--4-desktop">
                <div class="about-info">
                    <h3>Personal Information</h3>

                    <div><span>Name:</span>Matthias Loibl</div>
                    <div><span>Age:</span>24</div>
                    <div><span>Phone:</span>+49 151 70114766</div>
                    <div><span>Email:</span>mail@matthiasloibl.com</div>
                    <div><span>City:</span>Berlin, Germany</div>
                </div>
                {{ partial "social.html" . }}
            </div>
        </div>
    </section>

    <section id="portfolio" class="portfolio">
        <div class="color-primary">
            <div class="container">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="container">
            <div class="mdl-grid">
                <div class="mdl-cell">
                    <a href="https://play.google.com/store/apps/details?id=de.metalmatze.krautreporter" target="_blank">
                        <img src="/portfolio/krautreporter.png" alt="">
                    </a>
                </div>
                <div class="mdl-cell">
                    <a href="http://audio-machinery.com" target="_blank">
                        <img src="/portfolio/audio-machinery.com.png" alt="">
                    </a>
                </div>
                <div class="mdl-cell">
                    <a href="http://protoolspeople.com" target="_blank">
                        <img src="/portfolio/protoolspeople.com.png" alt="">
                    </a>
                </div>
                <div class="mdl-cell">
                    <a href="http://nicobrockel.com" target="_blank">
                        <img src="/portfolio/nicobrockel.com.png" alt="">
                    </a>
                </div>
                <div class="mdl-cell">
                    <a href="http://pohlmanncreatives.com" target="_blank">
                        <img src="/portfolio/pohlmanncreatives.com.png" alt="">
                    </a>
                </div>
                <div class="mdl-cell">
                    <a href="http://marienstein-obernkirchen.de" target="_blank">
                        <img src="/portfolio/marienstein-obernkirchen.de.png" alt="">
                    </a>
                </div>
                <div class="mdl-cell">
                    <a href="http://praxismueller.net" target="_blank">
                        <img src="/portfolio/praxismueller.net.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="tweets" class="tweets color-primary">
        <div class="container">
            <h2>Tweets</h2>

            <p>Coming soon...</p>

            <br>

            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
               href="https://twitter.com/MetalMatze"
               target="_blank">
                See more on twitter
            </a>
        </div>
    </section>

    <section class="posts" id="posts">
        <div class="container">
            <h2>Posts</h2>

            <div class="mdl-grid" style="padding: 0;margin: -8px;">
                {{ range first 3 .Data.Pages }}
                <div class="mdl-cell mdl-cell--4-col">
                    {{ partial "post-card.html" . }}
                </div>
                {{ end }}
            </div>

            <br><br>

            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/posts">
                See more
            </a>
        </div>
    </section>

    <section id="contact" class="contact color-primary">
        <div class="container">
            <h2>Contact</h2>

            <p>Beusselstraße, Berlin Germany</p>
            <ul>
                <li>
                    <a href="http://matthiasloibl.com">matthiasloibl.com</a>
                </li>
                <li>
                    <a href="mailto:mail@matthiasloibl.com">mail@matthiasloibl.com</a>
                </li>
                <li>+49 151 70114766</li>
            </ul>

            <br/><br/><br/>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9707.79887601026!2d13.3288448!3d52.5343439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x411800f538fabc7!2sBerlin+Beusselstra%C3%9Fe!5e0!3m2!1sde!2sde!4v1454781872039"
                    frameborder="0" allowfullscreen class="maps"></iframe>
        </div>
    </section>
</div>

{{ partial "footer.html" . }}
